@import '~antd/dist/antd.css';

.App{
    background-image: linear-gradient(rgba(0, 0, 0, 0.040), rgba(0, 0, 0, 0.060)), url("./images/main-background.webp");
    height: 100%;
    scroll-behavior: smooth;
}

/* Global Styles used */

.button-primary{
    background-color: #f07d00;
    border: none;
    border-radius: 20px;
    margin-top: 1rem;
    color: #fff;
}

.button-primary:hover{
    background-color: #fff;
    color: #f07d00;
    border: 1px solid #f07d00;
}

.button-primary:focus{
    background-color: #f07d00;
    color: #fff;
}


.text-grey{
    color: #6b6b6b;
}

.text-light-grey{
    color: #9e9fa7;
}

.text-orange{
    color: #f07d00;
}

.text-black{
    color: #272727;
}

.pointer{
    cursor: pointer;
}

.large-text{
    font-size: 20px;
}

.medium-text{
    font-size: 16px;
}

.small-text{
    font-size: 14px;
}

.very-small-text{
    font-size: 12px;
}

.bold{
    font-weight: 600;
}

.bolder{
    font-weight: 700;
}

.flex-small-gap{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.red-icon{
    font-size: 22px;
    transition: 0.5s;
}

.red-icon:hover{
    color: red;
}

.slide-in-left-animation{
    animation: slide-in-left 0.8s;
}

.slide-in-right-animation{
    animation: slide-in-right 0.8s;
}

.zoom-in-animation{
    animation: zoom-in 0.8s;
}

.small-padding-bottom{
    padding-bottom: 1rem;
}

.copyright{
    font-size: 16px;
    font-weight: 700;
    padding: 2rem;
    bottom: 0;
    text-align: center;
}


/* Custom Animations */

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes zoom-in {
    0%{
        transform: scale(0.8);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slide-in-top {
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes slide-in-bottom {
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0);
    }
}