.cvprofile-body{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 1rem;
}

.cvprofile-picture{
    border-radius: 50%;
    border: 2px solid orange;
}

.cvprofile-header{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cvprofile-header-first-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}


.cvprofile-header-second-part{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: space-between;
    grid-gap: 1rem;
    background-color: rgba(255, 255, 255, 0.700);
    padding: 1.5rem;
    border-radius: 20px;    
}

.cvprofile-skills{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.700);
    height: fit-content;
    max-width: 320px;
}

.long-box{
    max-width: 750px;
}

.cvprofile-skills-chain{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}


.cvprofile-each-skill{
    padding: 0.5rem;
    border-radius: 20px;
    color: #f69f00;
    background-color: #ffc14f46;
}

.cvprofile-header-2{
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 2rem;
}

.experiences-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.each-experience{
    padding: 0.5rem;
}

.grid-gather{
    grid-column: 1/3;
}

.grid-gather4{
    grid-column: 1/4;
}

.none-max-width{
    max-width: none;
}

.each-skill{
    color: #f69f00;
    background-color: #fff;
    padding: 0.5rem;
    border: #f69f00 solid 1px;
    font-weight: 700;
    border-radius: 20px;
    transition: 0.3s;
}

.each-skill:hover{
    transform: scale(1.050);
    background-color: #f07d00;
    color: #fff;
}

.attachments-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.650);
    border-radius: 20px;
}