.cvprofile-body {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 1rem;
}

.cvprofile-body-public {
  background: rgb(221, 221, 221);
  background: radial-gradient(
    circle,
    rgba(221, 221, 221, 1) 0%,
    rgba(238, 238, 238, 1) 100%
  );
  padding: 2rem 1rem;
}

.cvprofile-picture {
  border-radius: 50%;
  border: 2px solid orange;
}

.cvprofile-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.cvprofile-header-first-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  max-width: 320px;
  text-align: center;
}

.cvprofile-header-second-part-section {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1.5rem;
  border-radius: 20px;
  justify-content: space-between;
}

.each-box-cv-profile {
  word-wrap: break-word;
}

.cvprofile-header-second-part {
  display: grid;
  grid-template-columns: repeat(3, 190px);
  grid-gap: 1.5rem;
}

.cvprofile-skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  height: fit-content;
  max-width: 320px;
}

.cvprofile-attachments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.long-box {
  max-width: 760px;
}

.cvprofile-skills-chain {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.cvprofile-each-skill {
  padding: 0.5rem;
  border-radius: 20px;
  color: #f69f00;
  background-color: #ffc14f46;
  text-overflow: ellipsis;
  box-sizing: border-box;
  overflow: hidden;
}

.experiences-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.each-experience {
  padding: 0.5rem;
}

.grid-gather {
  grid-column: 1/3;
}

.grid-gather4 {
  grid-column: 1/4;
}

.none-max-width {
  max-width: none;
}

.each-skill {
  color: #f69f00;
  background-color: #fff;
  padding: 0.2rem 0.5rem;
  border: #f69f00 solid 1px;
  font-weight: 700;
  border-radius: 20px;
  transition: 0.3s;
}

.each-skill:hover {
  transform: scale(1.05);
  background-color: #f07d00;
  color: #fff;
}

.each-skill-public {
  background-color: #f07d00;
  color: #fff;
  padding: 0.3rem 0.6rem;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s;
}

.each-skill-public:hover {
  transform: scale(1.05);
  color: #f69f00;
  background-color: #fff;
  border: #f69f00 solid 1px;
}

.attachments-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 20px;
}

.public-header-image {
  width: 55px;
  height: 55px;
  margin: 1rem;
  animation: zoom-in 0.8s;
  cursor: pointer;
}

.download-pdf-cv-profile {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

.plus-button-cv-profile {
  font-size: 32px;
  color: #f07d00;
  cursor: pointer;
  transition: 0.3s;
}

.plus-button-cv-profile:hover {
  transform: scale(1.2);
}

.attachments-public-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 67vw;
  gap: 1rem;
}

.attachments-public-section-wrapper {
  display: flex;
  justify-content: center;
}

.video-play-button {
  height: fit-content;
  border-radius: 100px;
  background-color: #d5d5d542;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: glow 1s infinite alternate;
}

@media screen and (max-width: 1200px) {
  .cvprofile-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .cvprofile-skills {
    max-width: 740px;
    margin: 0.5rem;
  }

  .experiences-list {
    grid-gap: 0px;
    gap: 0px;
  }
}

@media screen and (max-width: 710px) {
  .cvprofile-header-second-part {
    grid-template-columns: repeat(3, auto);
  }

  .cvprofile-skills {
    max-width: 550px;
  }
}

@media screen and (max-width: 500px) {
  .cvprofile-header-second-part {
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
  }

  .cvprofile-skills {
    max-width: 380px;
  }
}

@media screen and (max-width: 460px) {
  .cvprofile-header-second-part-section {
    width: 100%;
    margin: 1rem;
  }

  .cvprofile-header-second-part {
    display: flex;
    flex-direction: column;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 12px -12px #f07c008a;
  }
  to {
    box-shadow: 0 0 12px 12px #f07c0059;
  }
}
